@font-face {
    font-family: flat;
    src: url(fonts/Dense-Regular.otf);
}

@font-face {
  font-family: score;
  src: url(fonts/Lovelo-Line-Light.otf);
}

@font-face {
    font-family: console;
    src: url(fonts/consolas.ttf);
}

@font-face {
  font-family: instructions;
  src: url(fonts/Montserrat-Regular.ttf);
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

#instructions {
    font-size: 20px;
}

#build {
    font-size: 12px;
    font-family: console;
    text-align: left;
}

#game {
    image-rendering: optimizeSpeed; // Older versions of FF
    image-rendering: -moz-crisp-edges; // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
    image-rendering: -o-crisp-edges; // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast; // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor; // IE
}

.h-item {
    display: block;
    text-align: center;
    margin-top: 100px;
    color: #2c3e50;
    font-size: 100px;
    font-weight: 100;
}

.btn-row {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.b-item {
    display: block;
    margin-top: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.m-item {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.game {
    box-shadow: 0px 0px 30px grey;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}
