@font-face {
  font-family: score;
  src: url(fonts/Lovelo-Line-Light.otf);
}

@font-face {
    font-family: console;
    src: url(fonts/consolas.ttf);
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

#game {
    image-rendering: optimizeSpeed; // Older versions of FF
    image-rendering: -moz-crisp-edges; // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
    image-rendering: -o-crisp-edges; // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast; // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor; // IE
}

.item {
    position: fixed;
    top: 43%;
    right: 20%;
    max-width: 500px;
}

.title {
    font-size: 100px;
    font-weight: 100;
    position: fixed;
    top: 30%;
    left: 20%;
}

.build-item {
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: console;
    font-size: 12px;
    text-align: right;
    font-weight: 100;
    padding: 10px;
}

.game {
    box-shadow: 0px 0px 30px grey;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}
